<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <title>
        {% block title %}
            Rede Social
        {% endblock %}
    </title>
  </head>

  {% block body %}
  <body class="overflow-hidden {{ 'dark-theme' if currentTheme == 'dark' else 'light-theme' }}">

  <img src="{{ url_for('static', filename='site_photos/fundo.jpg') }}" class="bg-imagem-pinterest" alt="Background Image" />

    <div class="container">
      <header>
        <nav class="navbar">
          <div class="logo-pinterest">
            <h1>Logo + Rede Social</h1>
          </div>

          <div class="restante-nav">
            <a href="" class="link-nav-home">Sobre</a>
            <a href="" class="link-nav-home">Negócios</a>
            <a href="" class="link-nav-home">Blog</a>
          </div>
        </nav>
      </header>

      <div class="container-popup">

          {% block form %}
            <form method="POST" class="popup">
                {{ form.csrf_token }}
                <img src="{{ url_for('static', filename='site_photos/logo.png') }}" class="logo-rede" alt="Rede Social Logo" />

              <h2>Bem-vindo(a) à Rede Social</h2>

              <div class="div-input">
                {{ form.email.label(class="label") }}
                  {{ form.email(class="input") }}

                  {% if form.email.errors %}
                      {% for erro in form.email.errors %}
                          <p class="msg-error">{{ erro }}</p>
                      {% endfor %}
                  {% endif %}
              </div>

              <div class="div-input">
                 {{ form.password.label(class="label") }}
                  {{ form.password(class="input") }}

                  {% if form.password.errors %}
                      {% for erro in form.password.errors %}
                          <p class="msg-error">{{ erro }}</p>
                      {% endfor %}
                  {% endif %}
              </div>

              <div class="div-botao">
                 {{ form.submit(class="botao-login") }}
                  <a href="{{ url_for('criarconta') }}" class="link-criarconta">Não tem uma conta? Cadastre-se</a>
              </div>
            </form>

          {% endblock %}

      </div>
    </div>
  </body>
{% endblock %}
</html>


