{% extends "homepage.html" %}

{% block title %}
    Perfil - {{ usuario.username }}
{% endblock %}

{% block body %}
    <body>
        <h1>Perfil do usuário: {{ usuario.username }}</h1>

        {% if form %}
            <form method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}

                {{ form.photo() }}
                {{ form.submit() }}
            </form>
        {% endif %}

        <a href="{{ url_for('logout') }}">Sair</a>
        <br><br>

        {% for photo in usuario.photos %}
            <img alt="{{ '{}'.format(photo.file_name) }}" src="{{ url_for('static', filename='posts_photos/{}'.format(photo.file_name)) }}">
        {% endfor %}
    </body>
{% endblock %}



