{% extends "homepage.html" %}

{% block title %}
    Perfil - {{ usuario.username }}
{% endblock %}

{% block body %}
    {% include "navbar.html" %}
    <body>
        <h1>Perfil do usuário: {{ usuario.username }}</h1>

        {% if form %}
            <form method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}

                {{ form.photo() }}
                {{ form.submit() }}
            </form>
        {% endif %}

        {% for photo in usuario.photos %}
            <img alt="{{ '{}'.format(photo.file_name) }}" src="{{ url_for('static', filename='posts_photos/{}'.format(photo.file_name)) }}">
        {% endfor %}

        {# Para ordenar as fotos do usuário no perfil temos que ordenar no arquivo de rotas como no feed.#}
    </body>
{% endblock %}



